name: CI (Game Tests)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  game-test:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Restore caches
        uses: actions/cache/restore@v4
        id: cache
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-${{ hashFiles('**/gradle-wrapper.properties') }}

      - name: Make gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Prepare run GameTest server
        if: steps.cache.outputs.cache-hit != 'true'
        run: ./gradlew prepareGameTestServerRun --no-daemon

      - name: Save caches
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-${{ hashFiles('**/gradle-wrapper.properties') }}

      - name: Run game tests
        id: game_test
        run: |
          set +e
          ./gradlew runGameTestServer --no-daemon 2>&1 | tee test_output.log
          TEST_EXIT_CODE=${PIPESTATUS[0]}
          exit $TEST_EXIT_CODE

      - name: Upload test logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: game-test-logs
          path: test_output.log
          retention-days: 1